*.o
*.d
*.a
hello_world/build/
testTasks/build/
testTasks/sdkconfig
testTasks/sdkconfig.old
solar_panel/build/
*.pdf
i2c/build/
i2c/sdkconfig
i2c/sdkconfig.old
solar_panel/html/
bin/
xtensa-lx106-elf/